@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.bg-main-red {
  background: linear-gradient(180deg, rgba(156, 33, 36, 0.88) 0%, #9d2325 100%);
}

.animated-chevron {
  transition: transform 0.3s ease;
  rotate: 180deg;
}

.animated-chevron.open {
  transform: rotate(-90deg);
}

.mainCardsShadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.bg-red {
  background: linear-gradient(
    90deg,
    rgba(160, 1, 0, 0.53) 0%,
    rgba(157, 28, 30, 0.883333) 83.33%,
    #9c2124 100%
  );
}

.light .gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(160, 1, 0, 0.53) 0%,
    rgba(157, 28, 30, 0.883333) 83.33%,
    #9c2124 100%
  );
}

.dark .gradient-bg {
  background-color: white;
}

.light .loginBg {
  background: white;
}

.dark .loginBg {
  background: linear-gradient(180deg, #1e2e3f 56.99%, #344455 100%);
}
